.sidebar {
    width: 15%;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo_container {
    margin-bottom: 4rem;
}

.logo_container h1 {
    margin-bottom: 1.3rem;
}


/*To change the colors of the side scroll
.sidebar::-webkit-scrollbar {
    width: 13px;
    
    /* Set the width of the scrollbar 
}

.sidebar::-webkit-scrollbar-thumb {
    background: linear-gradient(green, goldenrod, white);
    /* Set the color of the thumb (the draggable part) 
}
*/